#first {
  .route {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 13vw;
    height: 5vh;
    background: #000;
    border: none;
    border-radius: 5rem;
    overflow: hidden;
    background: white;
    @media (max-width: 768px) {
      width: 22vw;
    }
    @media (max-width: 768px) {
      width: 26vw;
    }

    @media (max-width: 496px) {
      height: 3.8vh;
      transform: translateY(160%);
    }
    @media (max-width: 496px) {
      width: 27vw;
    }
    @media (max-height: 623px) {
height: 26px;
    }

    .bg {
      position: absolute;
      left: 1%;
      top: 5.8%;
      height: 88%;
      width: 46%;
      background: #560bad;
      background: linear-gradient(
        90deg,
        rgba(86, 11, 173, 1) 0%,
        rgba(181, 23, 158, 1) 100%
      );
      border-radius: inherit;
      transition: all 0.4s ease;
      @media (max-width: 388px) {
        top: 6%;
      }
    }
    .activebg {
      transform: translateX(104px);
      @media (max-width: 576px) {
        transform: translateX(78px);
      }
      @media (max-width: 498px) {
        transform: translateX(54px);
      }
      @media (max-width: 388px) {
        transform: translateX(55px);
      }
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 1%;
      z-index: 9;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      width: 46%;
      height: 92%;
      background: transparent;
      border-radius: inherit;
      transition: all 0.4s ease;
      @media (max-width: 496px) {
        font-size: 0.6rem;
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 1%;
      z-index: 9;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      width: 46%;
      height: 92%;
      background: transparent;
      border-radius: inherit;
      transition: all 0.4s ease;
      @media (max-width: 496px) {
        font-size: 0.6rem;
      }
    }
  }

  .content {
    padding-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 1rem;
    margin-block: 4rem;
    scrollbar-width: none;
    @media (max-width: 496px) {
      margin-bottom: 0rem;
    }
    .block {
      display: flex;
      align-items: center;
      gap: 1rem;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-behavior: smooth;
      padding-bottom: 0.25rem; // scrollbar үчүн боштук

      &::-webkit-scrollbar {
        display: none;
      }
    }
    .fadeLeft,
    .fadeRight {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 24%; /* же px менен, күйгүзүп көрүп оптималдаштыр */
      pointer-events: none;
      transition: opacity 200ms ease;
      z-index: 9;
    }

    .fadeLeft {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      left: -2px;
      background: linear-gradient(90deg, #10002b, #10002b07);
    }

    .fadeRight {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      right: -2px;
      background: linear-gradient(270deg, #10002b, #10002b00);
    }
  }
}
